.nav-section-1{
    display: flex;
    justify-content: space-between;
}
.nav-first{
    margin-left: 40px;
}
.slide-1{
    background-color: #FEEAE9;  
    margin-top: 100px;
    border-radius: 20px;
}
.btn-1{
    width: 168px;
    background-color: #FF136F;
    color: #FFFFFF;
    border: 0;
    height: 50px;
    
}
.doler{
  color: #FF136F;  
}
.card-1{
    background-color: orange;
    font-size: 36px;
    color: #FFFFFF;
    border-radius: 9px;
}
.card-2{
    background-color: #FF136F;
    font-size: 36px;
    color: #FFFFFF;
    border-radius: 9px;
}
.card-3{
    background-color:rgb(26, 26, 254);
    font-size: 36px;
    color: #FFFFFF; 
    border-radius: 9px; 
}
.img-sec{
    height: 100px;
    width: 100px;
    margin-left: 100px;
   
}
.cate{
    margin-bottom: 24px;
    margin-left:27px;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 27px;
    margin-bottom: 24px;
    margin-top: 25px;
}
.btn-2{
    width: 168px;
    background-color: #000000;
    color: #FFFFFF;
    height: 50px;
   

}
.shoe-card{
    width: 360px;
    box-shadow: 3px 10px 20px 7px rgba(135, 135, 135, 0.2), 3px 10px 20px 7px rgba(135, 135, 135, 0.2);
}
.section-4{
    width: 1212px;
    height: 455px;
    background-color: #FFF2F1;
    margin: auto;
    margin-top: 71px;
}
.stay{
    font-size: 30px;
    color: #1F1F1F;
    padding-top: 146px;
    margin-left: 455px;
}
.get-12{
    font-size: 16px;
    color: #707070;
    margin-left: 455px;
}
.last{
    display: flex;
    justify-content: space-between;
    height: 73px;
    width: 670px;
    margin:auto;
    border: 0;
    padding-left: 20px;
}
.btn-3{
        background-color: #FF136F;
        color: #FFFFFF;
        height: 73px;
        border: 0;
        width: 120px;
}
.form-se{
    background-color: #dadada;
    padding-left: 20px;
    color: #a9a7a7;
    width: 400px;
}
.nav-item-1{
    margin-left: 150px;
    color: #000000;
}
